<!doctype html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <h3>Are you an admin? Add a New Student!</h3>

    <form action="/student-add" method="POST">
        <label>GitHub username: 
            <input type="text" name="github">
        </label><br>
        <br>
        <label>First name: 
            <input type="text" name="first">
        </label><br>
        <br>
        <label>Last name: 
            <input type="text" name="last">
        </label><br>
        <br>
    <input type="submit" value="Add Student">
    </form>
</body>
</html>